

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <%= htmlWebpackPlugin.options.styles %>
  <%= htmlWebpackPlugin.options.scripts %>

  <title>РАБОТА ЗОВЕТ!</title>
</head>
<body class="benzo-page-body">
    <div class="benzo-page">
      <div>
        <span class="benzo-page-title">ЗДАРОВА 12 ГРЕЙД</span>
        <span class="benzo-page-desc">
            <a href="https://us04web.zoom.us/j/73739522863?pwd=w2Nux6WPgUatxtWSprmaSNSQaP0493.1
            " target="_blank" rel="noopener noreferrer">подключись плиз спасибо</a>
        </span>
      </div>
    </div>
    
</body>
</html>