<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <%= htmlWebpackPlugin.options.styles %>
  <%= htmlWebpackPlugin.options.scripts %>

  <title>Ламповые катенки – НГ 2022!</title>
</head>
<body class="ny22-page-body">
    <div class="ny22-page">
      <div>
        <img class="ny22-section-kitty" src='images/kitty.jpeg'/>
        <span class="ny22-page-title">Приглашаем на наш ламповый НГ!</span>
      </div>
      
      <div class="ny22-photos">
        <div class="ny22-section">
          <span class="ny22-section-title  ny22-page-desc">
            Время: 23:30
            Адрес: Производственная 8к1
            Берите с собой хорошее настроение!
          </span>
          <span class="ny22-section-title  ny22-page-desc">
            Адрес: Производственная 8к1
          </span>
          <span class="ny22-section-title  ny22-page-desc">
            Берите с собой хорошее настроение!
          </span>
          <span class="ny22-page-copyrights "><span class="ny22-page-copyrights--emoji">🖤</span> Паша, Рита, Лёша</span>
        </div>
      </div>
    </div>

</body>
</html>