<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <%= htmlWebpackPlugin.options.waynerisStyles %>
  <%= htmlWebpackPlugin.options.waynerisScripts %>

  <title>wayneris.com</title>
</head>
<body class="page  page--main">
    <div class="main">
      <div class="title">
        <div class="title_avatar">
          <img src='images/avatar.png'/>
        </div> 
        <span class="title__position">UX/UI Designer</span>
        <span class="title__name">Margarita Troyanskaya</span>
      </div>

      <div class="net">
        <a href="https://www.linkedin.com/in/margarita-troyanskaya-1b9830247" class="net__ico  net__ico--ln">&#xf08c;</a>
        <a href="https://www.behance.net/wayneris" class="net__ico  net__ico--bh"  >&#xf1b5;</a>
        <a href="https://dribbble.com/wayneris" class="net__ico  net__ico--db" >&#xf397;</a>
        <a href="mailto:margaritatroyanskaya@gmail.com" class="net__ico  net__ico--mail">@</a>
        <a href="https://t.me/wayneris" class="net__ico  net__ico--tg net__ico--animated" >&#xf2c6;</a>
      </div>
    </div>
</body>
</html>
