
@font-face {
    font-family: "pixelFont";
    src: url('../../assets/fonts/pixel-spider.ttf') format('truetype');
    
    text-rendering: optimizeLegibility;
    font-style: normal;
 }

.ny22-page-body {
    background-color: #e2722d;
    margin: 0;
}

.ny22-page {
    position: relative;
    background-color: transparent;

    padding-top: 70px;
    padding-left: 16px;
    padding-right: 16px;
    
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    max-width: 475px;
    text-align: center;
}

.ny22-page-title {
    display: block;
    padding-bottom: 30px;
    
    font-family: brushFont;
    text-align: center;
    font-size: 64px;
}

.ny22-page-desc {
    display: block;
    padding-top: 20px;

    font-family: pixelFont;
    text-align: center;
    font-size: 28px;
    
    line-height: 32px;
}

.ny22-page-copyrights {
    position: absolute;
    display: block;
    
    padding-top: 20px;
    padding-bottom: 12px;
    padding-right: 8px;

    font-family: pixelFont;
    text-align: right;
    font-size: 18px;
    
    line-height: 24px;

    right: 0;
}

.ny22-page-copyrights--emoji {
    display: inline-block;
    font-size: 25px;
    line-height: 24px;
}

.ny22-section-grid img {
    width: 100%;
}

.ny22-section-spider-wrapper {
    position: relative;
    width: 100px;
    height: 90px;
}

.ny22-section-spider-1 {
    position: absolute;
    right: 30px;
    top: 0;
    width: 100px;
}

.ny22-section-spider-2 {
    position: absolute;
    left: -3px;

    width: 100px;
}
