/*  colors  */
$colorMain:    #fff;


/*  fonts  */
$fontRoboto    : 'Roboto', sans-serif;
$fontSizeLarge : 20px;
$fontSizeBig   : 18px;
$fontSizeMain  : 16px;
$fontSizeMid   : 14px;
$fontSizeSmall : 12px;
$fontColorMain : #666666;
$fontColorHints: #aaaaaa;
$fontColorTechs: #f3f3f3;


/* material design variables */
$contentOffset: 60px;


/*  other  */
