
.delivery { }

.delivery__amount {
  padding 8px 8px

  border 1px solid #e2bbc8
  border-radius 1px

  text-align center
  font-family ralewayELight
  line-height 36px
  font-size 26px

  width 140px
  height 36px

  outline none

  &:hover {
    background rgba(255, 255, 255, 0.7)
  }
}

.delivery__send {
  box-sizing border-box
  display block
  margin-top 10px
  padding 10px 0

  border 1px solid #e2bbc8
  border-radius 1px

  text-align center
  font-family ralewayLight
  font-size 18px

  width 100%
  cursor pointer

  &:hover {
    background rgba(255, 255, 255, 0.2)
    opacity 0.7
  }
}
