
.iq-associates {
  margin-top 35px
}

.iq-associates__title {
  display block
  margin-bottom 7px
  font-family ralewayRegular
  font-size 20px
  color #333

  @media only screen and (max-width: 600px) {
    & {
      font-size 18px
      text-align center
    }
  }
}
.iq-associates__subtitle {
  display block
  margin-bottom 7px
  font-family ralewayRegular
  font-size 13px
  color #333

  @media only screen and (max-width: 600px) {
    & {
      text-align center
      margin-bottom 15px
    }
  }
}

.iq-associates__list { }

.iq-associates__type {
  position relative
  display block
  margin-top 45px
  padding 15px 0px 15px 70px

  font-family ralewayRegular
  font-size 16px
  color #333

  border-radius 1px
  cursor pointer
}

.iq-associates__type:hover {
  background-color rgba(0, 0, 0, 0.1);
}

.iq-associates__type:not(:last-child)::after {
  content ''
  position absolute
  transform rotate(90deg)
  height 0px
  width 30px

  left 6px
  top 70px

  border 1px dashed #aaa
}

.iq-associates__type--active {
  color #d84289
}

.iq-associates__type object {
  position absolute
  height 45px
  width 45px
  left 0
  top 0
}
