
.iq-run {
  margin 25px auto 45px
  text-align center
}

.iq-run__button {
  display inline-block
  padding 15px 32px

  background-color #4CAF50
  border-radius 5px
  border none

  text-decoration none
  text-align center
  font-size 16px
  color #fff

  cursor pointer
  outline none
}

.iq-run__button:hover {
  background-color #459f49
}
.iq-run__button:active {
  background-color #3c8a3f
}
