
@import 'variables';
@import 'page';
@import 'me';
@import 'net';
@import 'chuck';
@import 'delivery';

// temporary
@import 'container';
@import 'test-preview';
@import 'iq-associates';
@import 'iq-result';
@import 'iq-run';
@import 'spheres';

.main {

}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
