
.me {
  & > span {
    display block
  }
}

.me__position {
  font-family ralewayMedium
  font-size 15px
  margin 0 4px

  @media only screen and (max-width: mobileResolution) {
    & {
      margin 0 2px
    }
  }
}

.me__name {
  font-family ralewayELight
  font-size 60px

  @media only screen and (max-width: mobileResolution) {
    & {
      font-size 30px
    }
  }
}

.me__direction {
  font-family ralewayLight
  font-size 0px
}
