

.net {
  display block
  font-family fontAwesome
}

.net__ico {
  display inline-block
  transition font-size 0.3s

  text-decoration none

  font-size 35px
  line-height 45px
  text-align center
  vertical-align middle

  cursor pointer
  height 45px
  width 45px
}

.net__ico:hover {
  font-size 40px
}

.net__ico--vk   {
  color #45668e
}

.net__ico--tw   {
  color #1da1f2
}

.net__ico--git  {
  color #333
}

.net__ico--inst {
  color #c13584
}
