
.share {
  margin-top 45px
  font-family fontAwesome
  margin-bottom 60px
}

.share__title {
  display block
  margin-bottom 10px
  font-family ralewayRegular
  font-size 18px
  color #333
}

.share__subtitle {
  display block
  margin-bottom 10px
  font-family ralewayRegular
  font-size 13px
  color #333
}
