
.spheres {
  display block
  text-align center
}

.spheres__title {
  font-family ralewayRegular
  font-size 18px
  color #333
}

.spheres__type {
  position relative
  display inline-block
  margin 15px 5px 5px 5px

  cursor pointer
}

.spheres__type input {
  position absolute
  opacity 0
  height 0
  width 0
}

.spheres__mark {
  padding 4px 10px

  background transparent
  border 1px solid #777
  border-radius 4px

  font-family ralewayRegular
  font-size 18px
  color #333
}

.spheres__type input:checked + .spheres__mark {
  background #777
  color #f5f5f5
}
