

backgroundColor = #fffaed;

@font-face
   font-family fontAwesome
   font-style normal
   src url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf')

@font-face
   font-family ralewayELight
   font-style normal
   src url('../assets/fonts/Raleway-ExtraLight.ttf')

@font-face
   font-family ralewayLight
   font-style normal
   src url('../assets/fonts/Raleway-Light.ttf')

@font-face
   font-family ralewayMedium
   font-style normal
   src url('../assets/fonts/Raleway-Medium.ttf')
