html, .page {
	height: 100vh;
}

.page {
	position: relative;
	background: linear-gradient(#FFEFD5, #FFF8DC, #FFF0F5, #F6DBFF);
	margin: 0;
}

.page--main {
	max-height: 500px;
	padding: 0 15px;
	margin: 0;
	background-color: $backgroundColor;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

  	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

  	align-items: center;
    justify-content: center;
}

.page--hidden {
	opacity: 0;
}
