$backgroundColor: #f8f8ff;
$mobileResolution: 560px;

@font-face { 
   font-family: "fontAwesome";
   font-style: normal;
   src: url('../../../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-brands-400.ttf') format('truetype');
}

@font-face {
   font-family: "ralewayELight";
   src: url('../../assets/fonts/Raleway-ExtraLight.ttf') format('truetype');
   
   text-rendering: optimizeLegibility;
   font-style: normal;
}

@font-face {
   font-family: "ralewayLight";
   src: url('../../assets/fonts/Raleway-Light.ttf') format('truetype');
   
   text-rendering: optimizeLegibility;
   font-style: normal;
}

@font-face {
   font-family: "ralewayRegular";
   src: url('../../assets/fonts/Raleway-Regular.ttf') format('truetype');
   
   text-rendering: optimizeLegibility;
   font-style: normal;
}

@font-face {
   font-family: "ralewayMedium";
   src: url('../../assets/fonts/Raleway-Medium.ttf') format('truetype');
   
   text-rendering: optimizeLegibility;
   font-style: normal;
}
