
body {
  //background: url('seaside-day-cropped.png') 0px 0px no-repeat;
  //background-size: cover;
  background: #eee;
  transition: background 1s ease;
  font-family: $fontRoboto;
  color: $fontColorMain;
  font-size: 16px;

  & div.wrapper {
    position: relative;
    padding-left: 20px;
    padding: 45px $contentOffset;

  }

  & .nav {
    position: absolute;
    margin: 45px $contentOffset;
    right: 0;
  }
}
