
body {
  font-family: $fontRoboto;
  font-size: 16px;
  background: #eee;
  color: $fontColorMain;
  transition: background 1s ease;

  & > div > div > div {
    padding-left: 20px;
    margin: 45px 65px;
  }
}
